build-debug/
build-release/
build-debug-xcode/
build-release-xcode/
install-debug/
install-release/
.DS_Store
*.pyc
visitlog.py
uberenv_libs
*.tar.gz
*.tar
s_env.sh
_uberenv_test*
.ipynb_checkpoints
Untitle*.ipynb

build*

build_local/
.vscode/settings.json
src/.vscode/c_cpp_properties.json
src/.vscode/settings.json
clover_times.out0000
clover.in
clover.in.tmp
clover.out
.vscode/launch.json
src/ascent/fortran/*.mod
src/examples/proxies/cloverleaf3d-ref/*.mod
src/ascent/fortran/ascent.mod
install/examples/ascent/paraview-vis/ascent_actions.json
install/examples/ascent/paraview-vis/expandingVortex.vti
install/examples/ascent/paraview-vis/paraview_ascent_source.py
install/examples/ascent/paraview-vis/paraview-package-momentinvariants.patch
install/examples/ascent/paraview-vis/paraview-vis-cloverleaf3d-momentinvariants.py
install/examples/ascent/paraview-vis/paraview-vis-cloverleaf3d.py
install/examples/ascent/paraview-vis/paraview-vis-kripke.py
install/examples/ascent/paraview-vis/paraview-vis-laghos.py
install/examples/ascent/paraview-vis/paraview-vis-lulesh.py
install/examples/ascent/paraview-vis/paraview-vis-noise.py
install/examples/ascent/paraview-vis/paraview-vis-warpx.py
install/examples/ascent/paraview-vis/tests/CMakeLists.txt
install/examples/ascent/paraview-vis/tests/CTestConfig.cmake
install/examples/ascent/paraview-vis/tests/Dockerfile
install/examples/ascent/paraview-vis/tests/README-docker.md
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0010.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0020.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0030.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0040.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0050.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0060.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0070.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0080.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0090.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0100.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0110.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0120.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0130.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0140.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0150.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0160.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0170.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0180.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0190.png
install/examples/ascent/paraview-vis/tests/baseline_images/cloverleaf3d/image_0200.png
install/examples/ascent/paraview-vis/tests/baseline_images/kripke/image_0000.png
install/examples/ascent/paraview-vis/tests/baseline_images/kripke/image_0001.png
install/examples/ascent/paraview-vis/tests/baseline_images/kripke/image_0002.png
install/examples/ascent/paraview-vis/tests/baseline_images/kripke/image_0003.png
install/examples/ascent/paraview-vis/tests/baseline_images/kripke/image_0004.png
install/examples/ascent/paraview-vis/tests/baseline_images/lulesh/image_0001.png
install/examples/ascent/paraview-vis/tests/baseline_images/lulesh/image_0002.png
install/examples/ascent/paraview-vis/tests/baseline_images/lulesh/image_0003.png
install/examples/ascent/paraview-vis/tests/baseline_images/lulesh/image_0004.png
install/examples/ascent/paraview-vis/tests/baseline_images/lulesh/image_0005.png
install/examples/ascent/paraview-vis/tests/baseline_images/lulesh/image_0006.png
install/examples/ascent/paraview-vis/tests/baseline_images/lulesh/image_0007.png
install/examples/ascent/paraview-vis/tests/baseline_images/lulesh/image_0008.png
install/examples/ascent/paraview-vis/tests/baseline_images/lulesh/image_0009.png
install/examples/ascent/paraview-vis/tests/baseline_images/lulesh/image_0010.png
install/examples/ascent/paraview-vis/tests/baseline_images/noise/image_0001.png
install/examples/ascent/paraview-vis/tests/baseline_images/noise/image_0002.png
install/examples/ascent/paraview-vis/tests/baseline_images/noise/image_0003.png
install/examples/ascent/paraview-vis/tests/baseline_images/noise/image_0004.png
install/examples/ascent/paraview-vis/tests/baseline_images/noise/image_0005.png
install/examples/ascent/proxies/cloverleaf3d/ascent_actions_contour_tree_energy.json
install/examples/ascent/proxies/cloverleaf3d/ascent_actions_contour_tree_velocity.json
install/examples/ascent/proxies/cloverleaf3d/ascent_actions.json
install/examples/ascent/proxies/cloverleaf3d/ascent_options.json
install/examples/ascent/proxies/cloverleaf3d/ASCENT_README.md
install/examples/ascent/proxies/cloverleaf3d/cloverleaf3d_par
install/examples/ascent/python/ascent_python_mpi_render_example.py
install/examples/ascent/python/ascent_python_render_example.py
install/examples/ascent/synthetic/noise/ASCENT_README.md
install/examples/ascent/synthetic/noise/noise_par
install/examples/ascent/synthetic/noise/noise_ser
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_extract_example1.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_extract_example2.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_extract_example3.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_extract_example4.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_extract_example5.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_first_light_example.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_pipeline_example1.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_pipeline_example2.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_pipeline_example3.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_query_example1.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_scene_example1.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_scene_example2.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_scene_example3.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_scene_example4.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_trigger_example1.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_tutorial_cpp_utils.hpp
install/examples/ascent/tutorial/ascent_intro/cpp/ascent_tutorial_python_extract_braid_histogram.py
install/examples/ascent/tutorial/ascent_intro/cpp/blueprint_example1.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/blueprint_example2.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/blueprint_example3.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/cleanup.sh
install/examples/ascent/tutorial/ascent_intro/cpp/conduit_example1.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/conduit_example2.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/conduit_example3.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/conduit_example4.cpp
install/examples/ascent/tutorial/ascent_intro/cpp/Makefile
install/examples/ascent/tutorial/ascent_intro/notebooks/01_ascent_first_light.ipynb
install/examples/ascent/tutorial/ascent_intro/notebooks/02_conduit_basics.ipynb
install/examples/ascent/tutorial/ascent_intro/notebooks/03_conduit_blueprint_mesh_examples.ipynb
install/examples/ascent/tutorial/ascent_intro/notebooks/04_ascent_scene_examples.ipynb
install/examples/ascent/tutorial/ascent_intro/notebooks/05_ascent_pipeline_examples.ipynb
install/examples/ascent/tutorial/ascent_intro/notebooks/06_ascent_extract_examples.ipynb
install/examples/ascent/tutorial/ascent_intro/notebooks/07_ascent_query_examples.ipynb
install/examples/ascent/tutorial/ascent_intro/notebooks/08_ascent_trigger_examples.ipynb
install/examples/ascent/tutorial/ascent_intro/notebooks/ascent_tutorial_jupyter_utils.py
install/examples/ascent/tutorial/ascent_intro/notebooks/ascent_tutorial_python_extract_braid_histogram.py
install/examples/ascent/tutorial/ascent_intro/notebooks/cleanup.sh
install/examples/ascent/tutorial/ascent_intro/notebooks/cycle_trigger_actions.yaml
install/examples/ascent/tutorial/ascent_intro/notebooks/entropy_trigger_actions.yaml
install/examples/ascent/tutorial/ascent_intro/python/ascent_extract_example1.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_extract_example2.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_extract_example3.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_extract_example4.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_extract_example5.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_first_light_example.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_pipeline_example1.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_pipeline_example2.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_pipeline_example3.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_query_example1.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_scene_example1.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_scene_example2.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_scene_example3.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_scene_example4.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_trigger_example1.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_tutorial_py_utils.py
install/examples/ascent/tutorial/ascent_intro/python/ascent_tutorial_python_extract_braid_histogram.py
install/examples/ascent/tutorial/ascent_intro/python/blueprint_example1.py
install/examples/ascent/tutorial/ascent_intro/python/blueprint_example2.py
install/examples/ascent/tutorial/ascent_intro/python/blueprint_example3.py
install/examples/ascent/tutorial/ascent_intro/python/cleanup.sh
install/examples/ascent/tutorial/ascent_intro/python/conduit_example1.py
install/examples/ascent/tutorial/ascent_intro/python/conduit_example2.py
install/examples/ascent/tutorial/ascent_intro/python/conduit_example3.py
install/examples/ascent/tutorial/ascent_intro/python/conduit_example4.py
install/examples/ascent/tutorial/cloverleaf_demos/cinema/ascent_actions.yaml
install/examples/ascent/tutorial/cloverleaf_demos/jupyter_extract/ascent_actions.yaml
install/examples/ascent/tutorial/cloverleaf_demos/jupyter_extract/notebooks/ascent_jupyter_histogram_example.ipynb
install/examples/ascent/tutorial/cloverleaf_demos/jupyter_extract/notebooks/ascent_jupyter_trackball_example.ipynb
install/examples/ascent/tutorial/cloverleaf_demos/pipelines_and_scenes/contour.yaml
install/examples/ascent/tutorial/cloverleaf_demos/pipelines_and_scenes/volume_contour.yaml
install/examples/ascent/tutorial/cloverleaf_demos/python_extract/ascent_actions.yaml
install/examples/ascent/tutorial/cloverleaf_demos/python_extract/ascent_python_extract_histogram_demo.py
install/examples/ascent/using-with-cmake/ascent_render_example.cpp
install/examples/ascent/using-with-cmake/CMakeLists.txt
install/examples/ascent/using-with-make/ascent_render_example.cpp
install/examples/ascent/using-with-make/Makefile
install/include/ascent/ascent_actions_utils.hpp
install/include/ascent/ascent_block_timer.hpp
install/include/ascent/ascent_blueprint_architect.hpp
install/include/ascent/ascent_conduit_reductions.hpp
install/include/ascent/ascent_config.h
install/include/ascent/ascent_data_object.hpp
install/include/ascent/ascent_empty_runtime.hpp
install/include/ascent/ascent_exports.h
install/include/ascent/ascent_expression_eval.hpp
install/include/ascent/ascent_expression_filters.hpp
install/include/ascent/ascent_expressions_ast.hpp
install/include/ascent/ascent_expressions_parser.hpp
install/include/ascent/ascent_expressions_tokens.hpp
install/include/ascent/ascent_file_system.hpp
install/include/ascent/ascent_flow_runtime.hpp
install/include/ascent/ascent_hola_mpi.hpp
install/include/ascent/ascent_hola.hpp
install/include/ascent/ascent_logging.hpp
install/include/ascent/ascent_main_runtime.hpp
install/include/ascent/ascent_mpi_utils.hpp
install/include/ascent/ascent_png_compare.hpp
install/include/ascent/ascent_png_decoder.hpp
install/include/ascent/ascent_png_encoder.hpp
install/include/ascent/ascent_probing_runtime.hpp
install/include/ascent/ascent_runtime_blueprint_filters.hpp
install/include/ascent/ascent_runtime_conduit_to_vtkm_parsing.hpp
install/include/ascent/ascent_runtime_filters.hpp
install/include/ascent/ascent_runtime_hola_filters.hpp
install/include/ascent/ascent_runtime_param_check.hpp
install/include/ascent/ascent_runtime_query_filters.hpp
install/include/ascent/ascent_runtime_relay_filters.hpp
install/include/ascent/ascent_runtime_rendering_filters.hpp
install/include/ascent/ascent_runtime_rover_filters.hpp
install/include/ascent/ascent_runtime_trigger_filters.hpp
install/include/ascent/ascent_runtime_utils.hpp
install/include/ascent/ascent_runtime_vtkh_filters.hpp
install/include/ascent/ascent_runtime_vtkh_utils.hpp
install/include/ascent/ascent_runtime.hpp
install/include/ascent/ascent_string_utils.hpp
install/include/ascent/ascent_transmogrifier.hpp
install/include/ascent/ascent_vtkh_collection.hpp
install/include/ascent/ascent_vtkh_data_adapter.hpp
install/include/ascent/ascent_web_interface.hpp
install/include/ascent/ascent.h
install/include/ascent/ascent.hpp
install/include/ascent/ascent.mod
install/include/ascent/flow_builtin_filters.hpp
install/include/ascent/flow_config.h
install/include/ascent/flow_data.hpp
install/include/ascent/flow_exports.h
install/include/ascent/flow_filter.hpp
install/include/ascent/flow_filters.hpp
install/include/ascent/flow_graph.hpp
install/include/ascent/flow_registry.hpp
install/include/ascent/flow_timer.hpp
install/include/ascent/flow_workspace.hpp
install/include/ascent/flow.hpp
install/lib/libascent_flow.so
install/lib/libascent_lodepng.so
install/lib/libascent_mpi.so
install/lib/libascent.so
install/lib/librover_mpi.so
install/lib/librover.so
install/lib/cmake/ascent/ascent_setup_deps.cmake
install/lib/cmake/ascent/ascent_setup_targets.cmake
install/lib/cmake/ascent/ascent-release.cmake
install/lib/cmake/ascent/ascent.cmake
install/lib/cmake/ascent/AscentConfig.cmake
install/lib/cmake/ascent/AscentConfigVersion.cmake
install/share/ascent/ascent_config.mk
install/share/ascent/web_clients/ascent/index.html
install/share/ascent/web_clients/ascent/resources/ascent_style.css
install/share/ascent/web_clients/ascent/resources/ascent_wsock.js
install/share/ascent/web_clients/ascent/resources/jquery-2.1.4.min.js
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap-grid.css
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap-grid.css.map
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap-grid.min.css
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap-grid.min.css.map
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap-reboot.css
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap-reboot.css.map
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap-reboot.min.css
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap-reboot.min.css.map
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap.css
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap.css.map
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css.map
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.js
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.js.map
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.min.js
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.min.js.map
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/js/bootstrap.js
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/js/bootstrap.js.map
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js
install/share/ascent/web_clients/ascent/resources/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js.map
install/share/ascent/web_clients/cinema/index.html
install/share/ascent/web_clients/cinema/cvlib/ASCENT_README.md
install/share/ascent/web_clients/cinema/cvlib/copyright.md
install/share/ascent/web_clients/cinema/cvlib/license.md
install/share/ascent/web_clients/cinema/cvlib/README.md
install/share/ascent/web_clients/cinema/cvlib/css/cvlib.css
install/share/ascent/web_clients/cinema/cvlib/js/ControlsBasic.js
install/share/ascent/web_clients/cinema/cvlib/js/ControlsPhiTheta.js
install/share/ascent/web_clients/cinema/cvlib/js/Database.js
install/share/ascent/web_clients/cinema/cvlib/js/DatabaseSpecA_NoAJAX.js
install/share/ascent/web_clients/cinema/cvlib/js/DatabaseSpecA.js
install/share/ascent/web_clients/cinema/cvlib/js/Parameter.js
install/share/ascent/web_clients/cinema/cvlib/js/QuerySet.js
install/share/ascent/web_clients/cinema/cvlib/js/Renderer.js
install/share/ascent/web_clients/cinema/cvlib/js/RendererSpecA.js
install/share/ascent/web_clients/cinema/cvlib/js/ResultSet.js
install/share/ascent/web_clients/cinema/cvlib/js/UIFactory.js
install/share/ascent/web_clients/cinema/cvlib/lib/jquery-3.1.1.min.js
install/utilities/ascent/holo_compare/holo
install/utilities/ascent/replay/json2yaml
install/utilities/ascent/replay/replay_mpi
install/utilities/ascent/replay/replay_ser
install/utilities/ascent/replay/yaml2json
install/utilities/ascent/visit_session_converters/visit_session_converters/session_to_camera.py
install/utilities/ascent/visit_session_converters/visit_session_converters/session_to_opacity.py
